<%- include('./partials/header.ejs') %>
<div class="container mx-auto p-6">
	<div
		class="max-w-lg mx-auto bg-gray-800 p-6 border border-gray-700 rounded-lg shadow-lg">
		<h2 class="text-2xl font-semibold mb-4 text-white">Create New Hisaab</h2>
		<form action="/hisaab/create" method="post">
			<div class="mb-4">
				<input
					name="title"
					type="text"
					placeholder="Shopping Hisaab, Ghar ka Kharch..."
					class="w-full p-2 bg-gray-700 border border-gray-600 rounded text-gray-200 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500" />
			</div>
			<div class="mb-4">
				<textarea
					name="description"
					placeholder="Daal, Aata, Cheeni"
					class="resize-none w-full p-2 bg-gray-700 border border-gray-600 rounded text-gray-200 placeholder-gray-400 h-32 focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
			</div>
			<div class="mb-4">
				<label class="inline-flex items-center text-gray-300">
					<input name="encrypted" type="checkbox" class="form-checkbox bg-gray-700 border-gray-600 text-blue-500 focus:ring-0" />
					<span class="ml-2">Encrypt this file</span>
				</label>
				<input
					name="passcode"
					type="password"
					placeholder="Passcode"
					class="w-full mt-2 p-2 bg-gray-700 border border-gray-600 rounded text-gray-200 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500" />
			</div>
			<div class="mb-4">
				<label class="inline-flex items-center text-gray-300">
					<input name="shareable" type="checkbox" class="form-checkbox bg-gray-700 border-gray-600 text-blue-500 focus:ring-0" />
					<span class="ml-2">Shareable file?</span>
				</label>
			</div>
			<div class="mb-4">
				<label class="inline-flex items-center text-gray-300">
					<input name="editpermissions" type="checkbox" class="form-checkbox bg-gray-700 border-gray-600 text-blue-500 focus:ring-0" />
					<span class="ml-2">Edit permissions</span>
				</label>
			</div>
			<div>
				<button type="submit" class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600 transition duration-200">
					Create New Hisaab
				</button>
			</div>
		</form>
	</div>
</div>
<%- include('./partials/footer.ejs') %>
